---
---

/* import base theme style */
@import "{{ site.theme }}" ;

code {
  white-space : pre-wrap !important;
}

/* override the header background gradient colors */
.page-header {
  background-image: linear-gradient(120deg, #7D091E, #958FCF);
}

/* tweak buttons/links to match the palette */
.btn {
  $background-color: #958FCF;
  $background-color-secondary: #7D091E;
}
.btn:hover, .btn:focus {
  filter: brightness(0.95);
}
a { color: #958FCF; }

/* Change heading colors globally */
h1, h2, h3, h4 {
  color: #7D091E;
}
