---
---

/* import base theme style */
@import "{{ site.theme }}" ;

/* override the header background gradient colors */
.page-header {
  background-image: linear-gradient(120deg, #958FCF, #7D091E);
}

/* tweak buttons/links to match the palette */
.btn {
  $background-color: #958FCF;
  $background-color-secondary: #7D091E;
}
.btn:hover, .btn:focus {
  filter: brightness(0.95);
}
a { color: #958FCF; }
